lib
/Lazarus/apiUi/*.exe
/Lazarus/apiUiServer/*.exe
/Lazarus/apiUi
/Lazarus/apiUiServer
/Lazarus/apiUi_Linux.zip
/Lazarus/apiUi_Linux
/Lazarus/apiUi_Windows
/Lazarus/apiUi_Windows.zip
/Lazarus/wsdlStub/backup/*.bak
/Lazarus/Xml/backup/*.bak
/Lazarus/apiUi_Linux.tar.gz
files
/Lazarus/Utils/a2bStringList/backup/*.bak
*.bak
/Lazarus/Xml/_unit1.lfm
/Lazarus/Xml/_unit1.pas
/Lazarus/Xml/project1.exe
/Lazarus/Xml/project1.ico
/Lazarus/Xml/project1.lpi
/Lazarus/Xml/project1.lpr
/Lazarus/Xml/project1.lps
/Lazarus/Xml/project1.res
